<div class="Content-table__header">
    <h1 class="js-headerCab">Заказы -> подробный просмотр</h1>
    <button class="Content-table__add-btn js-btnAddProd" title="Назад" data-src="backAllProd">&nbsp;&larr;&nbsp;</button>
</div>
<div class="Content-table__wrapper-table js-scrollContent simplebar" style="height: 90%;">
  <div class="Content-table__table">
    <div class="Panel Panel--default">
        <div class="Panel--head">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="28.621px" height="28.621px" viewBox="0 0 28.621 28.621" style="enable-background:new 0 0 28.621 28.621;" xml:space="preserve">
                <path d="M14.311,0c-6.904,0-12.5,5.596-12.5,12.5c0,4.723,2.618,8.828,6.48,10.955l-0.147,5.166l5.898-3.635   C14.131,24.988,14.22,25,14.311,25c6.904,0,12.5-5.596,12.5-12.5C26.811,5.596,21.215,0,14.311,0z M15.903,19.784h-3.203V9.474   h3.203V19.784z M14.28,8.211c-1.013,0-1.687-0.718-1.665-1.604c-0.021-0.927,0.652-1.624,1.686-1.624   c1.033,0,1.689,0.697,1.71,1.624C16.01,7.493,15.332,8.211,14.28,8.211z"/>
            </svg>
            <h3>Детали заказа № <%= numberOrder %></h3>
        </div>
        <div class="Panel__body">
            <div class="Content-table__filter--form-group">
                    <div class="inline inline--left Panel--head">
                        <p class="Content-table__label-order">Сведения о заказанных товарах:</p>
                    </div>
                    <div class="Content-table__row">
                        <div class="Content-table__cell"><p class="title">ID товара</p></div>
                        <div class="Content-table__cell"><p class="title">Наименования</p></div>
                        <div class="Content-table__cell"><p class="title">Производитель</p></div>
                        <div class="Content-table__cell"><p class="title">Выбранный размер</p></div>
                        <div class="Content-table__cell"><p class="title">Категория товара</p></div>
                        <div class="Content-table__cell"><p class="title">Количество</p></div>
                        <div class="Content-table__cell"><p class="title">Цена за единицу</p></div>
                        <div class="Content-table__cell"><p class="title">Итого</p></div>
                    </div>
                    <% var sumOrder = 0;
                       var options = {
                          weekday: 'long',
                          year: 'numeric', month: 'numeric', day: 'numeric',
                          hour: 'numeric', minute: 'numeric', second: 'numeric',
                          hour12: false
                        };
                    %>
                    <% templateArr.forEach(function(item){ %>
                        <% sumOrder += (Number(item[0].quantity) * Number(item[0].price)); %>
                    <div class="Content-table__row">
                        <div class="Content-table__cell"><p class="text area"><%= item[0].id %></p></div>
                        <div class="Content-table__cell"><p class="text area">
                            <a href="/product/<%= item[0].title %>/<%= item[0].id %>" target="_blank" title="Показать на сайте">
                            <%= item[0].title %>
                                </a>
                            </p></div>
                        <div class="Content-table__cell"><p class="text area"><%= item[0].vendor %></p></div>
                        <div class="Content-table__cell"><p class="text area"><%= item[0].changedSize %></p></div>
                        <div class="Content-table__cell"><p class="text area"><%= item[0].category %></p></div>
                        <div class="Content-table__cell"><p class="text area"><%= item[0].quantity %></p></div>
                        <div class="Content-table__cell"><p class="text area"><%= item[0].price %> руб.</p></div>
                        <div class="Content-table__cell"><p class="text area"><%= (Number(item[0].quantity) * Number(item[0].price)) %> руб.</p></div>
                    </div>
                    <% }) %>
            </div>
            <div class="Content-table__filter--form-group">
                <div class="inline inline--left Panel--head">
                    <p class="Content-table__label-order">Сведения о заказчике:</p>
                </div>
            </div>
            <div class="Content-table__row">
                <div class="Content-table__cell"><p class="title">Заказчик</p></div>
                <div class="Content-table__cell"><p class="title">Регион доставки</p></div>
                <div class="Content-table__cell"><p class="title">Город доставки</p></div>
                <div class="Content-table__cell"><p class="title">Почтовый индекс</p></div>
                <div class="Content-table__cell"><p class="title">Контактный e-mail</p></div>
                <div class="Content-table__cell"><p class="title">Контактный телефон</p></div>
                <div class="Content-table__cell"><p class="title">Организация</p></div>
                <div class="Content-table__cell"><p class="title">Период доставки <br> ( мин - макс, дней)</p></div>
                <div class="Content-table__cell"><p class="title">Сумма заказа <br> (без учёта доставки)</div>
                <div class="Content-table__cell"><p class="title">Сумма заказа <br> (с учётом доставки)</div>
                <div class="Content-table__cell"><p class="title">Статус заказа</div>
            </div>

            <% dataCustomer.forEach(function(item){ %>
            <div class="Content-table__row">
                <div class="Content-table__cell"><p class="text area"><%= item.checkoutFirst_name %><br><%= item.checkoutLast_name %></p></div>
                <div class="Content-table__cell"><p class="text area"><%= item.checkoutRegion %></p></div>
                <div class="Content-table__cell"><p class="text area"><%= item.checkoutCity %></p></div>
                <div class="Content-table__cell"><p class="text area"><%= item.checkoutPostalCode %></p></div>
                <div class="Content-table__cell"><p class="text area">
                        <a href="mailto:<%= item.checkoutEmail %>" title="Написать письмо заказчику">
                        <%= item.checkoutEmail %>
                        </a>
                    </p></div>
                <div class="Content-table__cell"><p class="text area"><%= item.checkoutPhone %></p></div>
                <div class="Content-table__cell"><p class="text area"><%= item.checkoutCompany %></p></div>
                <div class="Content-table__cell"><p class="text area">(<%= item.delivery_period_min %> - <%= item.delivery_period_max %>)</p></div>
                <div class="Content-table__cell"><p class="text area"><%= sumOrder %> руб.</p></div>
                <div class="Content-table__cell"><p class="text area"><%= (Number(sumOrder) + Number(item.cost_delivery)) %> руб.</p></div>
                <div class="Content-table__cell"><p class="text area js-statusOrder"><% if(item.new == 1) { %> Новый <% } else { %> Обработанный <% } %></p></div>
            </div>
            <% }) %>


            <div class="Content-table__filter--form-group">
                <div class="inline inline--left Panel--head">
                    <p class="Content-table__label-order">Дата заказа:</p>
                </div>
                <div>
                    <ul class="Content-table__label-order--list">
                        <li><%= new Intl.DateTimeFormat('ru-RU', options).format(date) %></li>
                    </ul>
                </div>
            </div>

            <div class="Content-table__filter--form-group">
                <div class="inline inline--left Panel--head">
                    <p class="Content-table__label-order">Статус оплаты:</p>
                </div>
                <div>
                    <ul class="Content-table__label-order--list">
                        <li>
                            <div class="Content-table__cell"><p class="text area">
                            <% if(statusPay == 1) { %> <b class="pay-yes">Оплачено</b> <% } else { %> <b class="pay-no">Оплаты не было</b> <% } %>
                            </p></div>
                        </li>
                    </ul>
                </div>
            </div>

            <% if(newOrder == 1) { %>
            <div class="Content-table__filter--form-group" style="text-align: center;">
                <button class="Content-table__add-btn  js-btnAddProd" id="orderSuccess" data-src="orderReady" data-product_id="<%= numberOrder %>" type="button" title="Перевести заказ в статус 'Обработан'">Заказ обработан <span> &#10004;</span></button>
            </div>
            <% } %>
            <br>
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">
</script>